<div class="container rounded fondoChef bg1 mt-4">
    <div class="jumbotron  bg2">
        <h1 class="display-4">Hacer pedido</h1>
        <hr class="my-4">
        <p>Nos ajustamos a los requerimientos de nuestro cliente: + Podemos modificar el empaque en función del espacio de venta del cliente. + Modificamos las características del producto a pedido por cantidades especiales.
        </p>
        <a class="btn btn-success btn-lg" routerLink='/landing' role="button">Volver</a>
    </div>

    <!-- Begin page -->



    <div class="content m-0 p-0">

        <!-- Start Content-->
        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-5">
                                    <!-- Product image -->
                                    <a href="javascript: void(0);" class="text-center d-block mb-4">
                                        <img src="assets/images/small/small-1.png" alt="demo-img" class="img-fluid shadow-sm rounded">
                                    </a>

                                    <div class="d-lg-flex d-none justify-content-center">
                                        <a href="javascript: void(0);">
                                            <img src="assets/images/small/small-1.png" alt="demo-img" class="img-fluid shadow-sm rounded">
                                        </a>
                                        <a href="javascript: void(0);" class="ml-2">
                                            <img src="assets/images/small/small-1.png" alt="demo-img" class="img-fluid shadow-sm rounded">
                                        </a>
                                        <a href="javascript: void(0);" class="ml-2">
                                            <img src="assets/images/small/small-1.png" alt="demo-img" class="img-fluid shadow-sm rounded">
                                        </a>
                                    </div>
                                </div>
                                <!-- end col -->
                                <div class="col-lg-7">
                                    <form class="pl-lg-4">
                                        <!-- Product title -->
                                        <h3 class="mt-0">SANDWICH EL CHEFCILLO COLOSO GOURMET: 300 g. <a href="javascript: void(0);" class="text-muted"><i class="mdi mdi-square-edit-outline ml-2"></i></a> </h3>
                                        <p class="mb-1">Added Date: 09/12/2018</p>
                                        <p class="font-16">
                                            <span class="text-warning mdi mdi-star"></span>
                                            <span class="text-warning mdi mdi-star"></span>
                                            <span class="text-warning mdi mdi-star"></span>
                                            <span class="text-warning mdi mdi-star"></span>
                                            <span class="text-warning mdi mdi-star"></span>
                                        </p>

                                        <!-- Product stock -->
                                        <div class="mt-3">
                                            <h4><span class="badge badge-success-lighten">Instock</span></h4>
                                        </div>

                                        <!-- Product description -->
                                        <div class="mt-4">
                                            <h6 class="font-14">Precio unidad:</h6>
                                            <h3> $12.000</h3>
                                        </div>

                                        <!-- Quantity -->
                                        <div class="mt-4">
                                            <h6 class="font-14">cantidad</h6>
                                            <div class="d-flex">
                                                <input type="number" min="1" value="1" class="form-control" placeholder="Qty" style="width: 90px;">
                                                <button type="button" class="btn btn-danger ml-2"><i class="mdi mdi-cart mr-1"></i> Add to cart</button>
                                            </div>
                                        </div>

                                        <!-- Product description -->
                                        <div class="mt-4">
                                            <h6 class="font-14">Descripción:</h6>
                                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
                                                letters, as opposed to using 'Content here, content here', making it look like readable English. </p>
                                        </div>

                                        <!-- Product information -->
                                        <div class="mt-4">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <h6 class="font-14">disponibles:</h6>
                                                    <p class="text-sm lh-150">1784</p>
                                                </div>
                                                <div class="col-md-4">
                                                    <h6 class="font-14">Numero de ordenes</h6>
                                                    <p class="text-sm lh-150">5</p>
                                                </div>
                                                <div class="col-md-4">
                                                    <h6 class="font-14">Revenue:</h6>
                                                    <p class="text-sm lh-150">$8,57,014</p>
                                                </div>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                                <!-- end col -->
                            </div>
                            <!-- end row-->


                        </div>
                        <!-- end card-body-->
                    </div>
                    <!-- end card-->
                </div>
                <!-- end col-->
            </div>
            <!-- end row-->

        </div>
        <!-- container -->

    </div>
    <!-- content -->