<div class="container-fluid m-0 p-0  bg1 ">

    <section class="hero-section fondoChef mt-4 pt-1 pb-1 ">
        <div class="container">
            <div class="row align-items-center mt-5">

                <div class="col-md-5">

                    <div class="text-md-right mt-5 mt-md-0">
                        <img src="assets/images/chef.svg" class="img-fluid" />
                    </div>


                </div>

                <div class="col-md-7 m-0 pt-0 offset-md-2">
                    <div class="mt-md-4">

                        <h1 class="display-4 cafe mt-3 mb-4">Nuestros productos</h1>

                        <p class="cafe">
                            Somos una marca registrada, con INVIMA nuestro modelo de negocio permite entregar a nuestro cliente el producto para que este lo distribuya diariamente o semanalmente. Tenemos la planta de producción, ubicada en Bogotá en la calle 12 con 31, con capacidad
                            producción diaria de 3000 unidades en 3 turnos.
                        </p>

                        <p class="cafe"> <strong>Nos ajustamos a los requerimientos de nuestro cliente:</strong> <br> <br><img src="assets/images/mano.png" alt="" class="logo-dark" height="30" /> Podemos modificar el empaque en función del espacio de venta del cliente.
                            <br> <img src="assets/images/mano.png" alt="" class="logo-dark" height="30" /> Modificamos las características del producto a pedido por cantidades especiales.
                        </p>


                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="py-5 bg3 border-bottom border-light">
        <div class="container ">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <img src="assets/images/logo2.png" alt="" class="logo-dark" height="98" />
                        <h2 class="cafe">Conoce nuestras presentaciones</h2>
                        <h4 class="cafe mt-2">Hacemos pedidos intitucionales desde 100 unidades </h4>
                    </div>
                </div>
            </div>

            <div class="row mt-5 pt-3">
                <div class="col-md-4">
                    <div class="card card-pricing">
                        <div class="card-body text-center">
                            <p class="card-pricing-plan-name font-weight-bold text-uppercase">CHEFCILLO COLOSO</p>
                            <img src="assets/images/logo.png" alt="" class="logo-dark" height="28" />
                            <h2 class="card-pricing-price">300 g.</h2>
                            <ul class="card-pricing-features">
                                <li>Extra porción de Jamones libres de grasas trans</li>
                                <li>Pan sin conservantes</li>
                                <li>extra queso velma sin conservantes</li>
                                <li>verduras certificadas de producción limpia</li>
                                <li>(rúgula, lechuga crespa, tomate cherry)</li>
                                <li>20cm aprox.</li>
                            </ul>
                            <button routerLink='/pedido' class="btn btn-primary mt-4 mb-2 btn-rounded">Calcula tu pedido</button>
                        </div>
                    </div>
                    <!-- end Pricing_card -->
                </div>
                <!-- end col -->

                <div class="col-md-4">
                    <div class="card card-pricing card-pricing-recommended">
                        <div class="card-body text-center">
                            <div class="card-pricing-plan-tag">Recomendado</div>
                            <p class="card-pricing-plan-name font-weight-bold text-uppercase">CHEFCILLO GOURMET</p>
                            <img src="assets/images/logo.png" alt="" class="logo-dark" height="28" />
                            <h2 class="card-pricing-price">210 g.</h2>
                            <ul class="card-pricing-features">
                                <li>Jamones libres de grasas trans</li>
                                <li>Pan sin conservantes</li>
                                <li>queso sin conservantes</li>
                                <li>verduras certificadas de producción limpia</li>
                                <li>(rúgula, lechuga crespa, tomate cherry)</li>
                                <li>20cm aprox</li>
                            </ul>
                            <button routerLink='/pedido' class="btn btn-primary mt-4 mb-2 btn-rounded">Calcula tu pedido</button>
                        </div>
                    </div>
                    <!-- end Pricing_card -->
                </div>
                <!-- end col -->

                <div class="col-md-4">
                    <div class="card card-pricing">
                        <div class="card-body text-center">
                            <p class="card-pricing-plan-name font-weight-bold text-uppercase">CHEFCILLO URBANO</p>
                            <img src="assets/images/logo.png" alt="" class="logo-dark" height="28" />
                            <h2 class="card-pricing-price">120 g.</h2>
                            <ul class="card-pricing-features">
                                <li>Jamones ahumados</li>
                                <li>Pan artesanal</li>
                                <li>queso doble crema</li>

                                <li>16cm aprox.</li>
                            </ul>
                            <button routerLink='/pedido' class="btn btn-primary mt-4 mb-2 btn-rounded">Calcula tu pedido</button>
                        </div>
                    </div>
                    <!-- end Pricing_card -->
                </div>
                <!-- end col -->

            </div>

        </div>
    </section>


</div>