<div class="container-12 fixed-top bg-white">



    <nav class="container bg-white tabbable text-left">



        <a href="index.html" class="navbar-brand mr-lg-5">
            <img src="assets/images/logo.png" alt="" class="logo-dark" height="28" />
        </a>

        <div class="nav nav-tabs mt-1 text-center" id="nav-tab" role="tablist">


            <a class="nav-item nav-link cafe fw800 active" id="nav-home-tab" data-toggle="tab" routerLink='landing' aria-selected="true">Inicio</a>
            <a class="nav-item nav-link cafe fw700" id="nav-profile-tab" data-toggle="tab" routerLink='/productos' aria-selected="false">Sánduches</a>
            <a class="nav-item nav-link cafe fw700" id="nav-profile-tab" data-toggle="tab" routerLink='/historia' aria-selected="false">Historia</a>
            <a class="nav-item nav-link cafe fw700" id="nav-contact-tab" data-toggle="tab" routerLink='/social' aria-selected="false">RSE</a>
            <!--  <a class="nav-item nav-link cafe fw700" id="nav-contact-tab" data-toggle="tab" routerLink='/canales' aria-selected="false">Ventas</a> -->
            <a class="nav-item nav-link cafe fw700" id="nav-contact-tab" data-toggle="tab" routerLink='/contacto' aria-selected="false">Contacto</a>

            <!--   <ul class="navbar-nav ml-auto align-items-center">
                <li class="nav-item mr-0">
                    <a class="nav-link d-lg-none"></a>
                    <a routerLink='/pedido' class="btn btn-sm btn-success btn-rounded d-none d-lg-inline-flex">
                        <i class="mdi mdi-basket mr-2"></i> Calcula tu pedido
                    </a>
                </li>
            </ul>  -->


        </div>
    </nav>




</div>