<!-- START HERO -->
<section class="hero-section mt-4 mb-4 pt-1 pb-1 ">
    <div class="container">
        <div class="row align-items-center mt-5">

            <div class="col-md-5">

                <div class="text-md-right mt-5 mt-md-0">
                    <img src="assets/images/chef.svg" class="img-fluid" />
                </div>


            </div>

            <div class="col-md-7 m-0 pt-0 offset-md-2">
                <div class="mt-md-4">



                    <h3 class="cafe">
                        Sobre el chefcillo
                    </h3>

                    <p class="cafe">
                        El modelo nace como iniciativa de varios empresarios en un ejercicio creativo y de desarrollo de negocios, avanzamos hacia materializar la idea en un concepto innovador sobre la manera de comer fuera y dentro de casa. <br> Posteriormente
                        Pierre y Mariana salieron a las calles a probar la recepción del alimento, obteniendo excelentes respuestas de los clientes, en vivo durante 2 meses todos los días...<br><br> Paso seguido se crearon un modelo de franquicias,
                        el cual estuvo al aire hasta que decidieron los socios modificarlo por ventas en grandes espacios, y espacios privados.<br> Estamos en el mercado desde enero de 2018, y vamos por los años más éxitos de nuestra historia... acompañanos
                        en este recorrido.<br><br> Innovamos así:<br> • Alimentos saludables al alcance de todos.<br> • Creamos un producto Gourmet y saludable, al alcance del público<br> que quiere comer bien.<br> • Presentación y actitud impecable
                        del producto y de nuestro personal<br> • Elegimos los mejores insumos alimenticios<br>

                    </p>


                </div>
            </div>
        </div>
    </div>
</section>

<!-- START CONTACT -->
<section class="py-5 bg7">
    <div class="container">

        <h2 class="mb-4 mt-5 text-white font-24">
            Amamos el sánduche (Historia del sándwich)
        </h2>

        <p class="text-white">

            El sándwich posee una historia que remonta sus orígenes al siglo XVIII, a partir del aristócrata inglés John Montagu, IV conde de Sandwich (1718-1792), aunque no fue él su inventor. Se dice de este conde que le gustaba comer de esta forma porque así podía
            jugar a las cartas mientras comía, sin ensuciarse los dedos.15 <br><br> En 1762, Montagu estuvo veinticuatro horas seguidas ante una mesa de juego. Para calmar el hambre, pidió un poco de carne entre dos rebanadas de pan. A este
            nuevo tentempié se le puso el nombre de sándwich, en honor al conde. En 1996 los británicos gastaban diariamente 7,9 millones de dólares en sándwiches, lo que supone un aumento del 75 % en los cinco años anteriores. <br><br> «Los sándwiches
            representan más de una tercera parte de todo el mercado de comida rápida»,<br> <br> The Times.

        </p>



    </div>
</section>
<!-- END CONTACT -->