<!-- START HERO -->
<section class="hero-section mt-4 mb-4 pt-1 pb-1 ">
    <div class="container">
        <div class="row align-items-center mt-3">

            <div class="col-md-5">

                <div class="text-md-right mt-5 mt-md-0">
                    <img src="assets/images/chef2.png" class="img-fluid" />
                </div>


            </div>

            <div class="col-md-7 m-0 pt-0 offset-md-2">
                <div class="mt-md-4">
                    <div>
                        <span class=" cafe ml-1">Contactanos</span>
                    </div>
                    <h2 class="font-weight-normal fzt cafe mb-4 mt-3 hero-title">
                        Nos encantaría que pruebes nuestros productos y servicios
                    </h2>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- END HERO -->


<!-- START CONTACT -->
<section class="py-5 bg7">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <h3 class="text1">Escríbenos</h3>
                    <p class="text1 mt-2">Nos encantaría que pruebes nuestros productos y servicios
                    </p>
                </div>
            </div>
        </div>

        <div class="row align-items-center mt-3">
            <div class="col-md-4">
                <p class="text1"><span class="font-weight-bold">Teléfonos:</span><br> <span class="d-block mt-1">316-460-5506</span> 319-551-1199</p>
                <p class="text1 mt-4"><span class="font-weight-bold">Correo electronico:</span><br> <span class="d-block mt-1">info@elchefcillo.com</span></p>
                <p class="text1 mt-4"><span class="font-weight-bold">Dirección:</span><br> <span class="d-block mt-1">Calle 12 # 31-37 Bogotá</span></p>
                <p class="text1 mt-4"><span class="font-weight-bold">Abrimos:</span><br> <span class="d-block mt-1">7:00AM a 6:00PM</span></p>
            </div>

            <div class="col-md-8">
                <form [formGroup]='comentario' (ngSubmit)="enviarComentario(comentario)">
                    <div class="row mt-4">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="text1" for="fullname">Tu nombre</label>
                                <input formControlName="nombre" class="form-control form-control-light" type="text" id="fullname" placeholder="Ingresa tu nombre...">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="text1" for="emailaddress">Tu correo</label>
                                <input formControlName="correo" class="form-control form-control-light" type="email" required="" id="emailaddress" placeholder="ingresa tu email...">
                            </div>
                        </div>
                    </div>

                    <div class="row mt-1">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="text1" for="subject">Titulo</label>
                                <input formControlName="titulo" class="form-control form-control-light" type="text" id="subject" placeholder="Ingresa un titulo...">
                            </div>
                        </div>
                    </div>

                    <div class="row mt-1">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="text1" for="comments">Mensaje</label>
                                <textarea formControlName="mensaje" rows="4" class="form-control form-control-light" placeholder="Ingresa tu mensaje aqui..."></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-check">
                        <input type="checkbox" formControlName="politica" value="si" class="form-check-input">
                        <label class="form-check-label text1" for="exampleCheck1">Acepto la<a routerLink="/terminos" class="text1" > Política de Protección de datos personales. </a>  </label>
                    </div>

                    <div class="row mt-2">
                        <div class="col-12 text-right">
                            <button type="submit" class="btn btn-outline-warning">Enviar mensaje <i
                                        class="mdi mdi-telegram ml-1"></i> </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- END CONTACT -->